@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  background: rgb(91, 89, 115);
  background: #000000;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212529d6;
  padding: 10px 10px;
  color: white;
  top: 0;
  position: sticky;
  z-index: 999;
  max-height: 70px;
}

.logo img {
  width: 100px;
  cursor: pointer;
}

.logo img:hover {
  transform: scale(1.1);
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ff5722;
}

/*hero section*/
.hero {
  width: 100%;
  height: 680px;
  position: relative; 
  overflow: hidden; 
}

.hero img {
  height: 700px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
  transition: transform 0.3s ease; 
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: justify; 
  justify-content: flex-end; 
  position: relative; 
  padding: 20px;
  background: #00000048;
  margin-bottom: 10%px;
}

.hero-text {
  color: rgba(233, 104, 156, 0.9);
  font-size: 50px;
  font-weight: 500;
  text-align: left; 
  position: relative; 
  z-index: 1; 
  transition: transform 0.3s ease; 
}

.hero-subtext {
  color: rgba(0, 0, 0, 0.9);
  font-size: 24px;
  font-weight: 400;
  text-align: left; 
  margin-top: 10px; 
  font-family: "Mooli", sans-serif;
  text-shadow: 0 0 10px rgba(49, 111, 108, 0.5); 
}

.hero-subtext a {
  color: #316f6c;
  text-decoration: none;
}

/*  hover effect */
.hero:hover .hero-text {
  transform: translateY(-20px); 
}

.hero:hover img {
  transform: scale(1.1); 
}
